body{
    background-color: blanchedalmond;
    
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transform: translate(0,60%);
    
}

.esquerdo img {
    width: 300px;
    height: 407px;
   
}



.direito{
    width: 300px;
    height: 407px;
    background-color: white;
    padding-left: 30px;
    transform: translate(0, -1);
    
}

.direito h4{
    color:gray ;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

.direito h1{
    color: black;
    font-family: 'Fraunces', serif;
}

.direito p{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.direito h2{
    color: #3d703d;
    font-family: 'Fraunces', serif;
    font-size: 40px;
    
}

.direito h2, h3{
    display: inline;
       
}

.direito h3{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    padding-left: 15px;
    font-size: 15px;
    
}

.direito button{
    transform: translate(20px, 30px);
    background-color: rgb(61, 112, 61);
    color:white;
    padding: 10px 65px 10px 65px;
    border-radius: 10px;
    margin: none;
    text-shadow: none;
    border-width: 0px;
}

.direito img{
    transform: translate(2px, 2px);
}